<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--    <a href="directValid.html" th:text="#{directValid}"></a>-->
<!--    <a href="objectValid.html" th:text="#{objectValid}"></a>-->
<!--    <a href="validatorValid.html" th:text="#{validatorValid}"></a>-->
<!--    <a href="valid/beanValid.html" th:text="#{beanValid}"></a>-->
<!--    <a href="validatorValid.html" th:text="#{validatorValid}"></a>-->
    <a href="signUp" th:text="#{signUp}">등록</a>
    <a href="students" th:text="#{students}">목록</a>
</body>
</html>